/* Tablet & Mobile */
@media (max-width: 1023px) {
  .btn {
    padding: 15px 16px;
  }

  .contact-info {
    line-height: 2;
  }

  .socials-list > a {
    font-size: 40px;
    margin: 0 8px;
  }

  .copy-right {
    padding: 12px 0;
    font-size: 24px;
    display: inline-block;
  }
}

@media (max-width: 1023px) and (min-width: 740px) {
  .contact-info {
    line-height: 2;
  }
}

/* Mobile */
@media (max-width: 739px) {
  .s-full-width,
  .s-col-full {
    width: 100% !important;
  }

  .s-mt-8 {
    margin-top: 8px !important;
  }

  #nav {
    display: block;
  }

  #nav > li {
    display: block;
  }

  #nav .subnav {
    position: initial;
    background-color: #333;
  }

  #nav .subnav a {
    color: #fff;
    padding: 8px 36px;
  }

  #nav .subnav a:hover {
    color: #333;
  }

  #nav > li:first-child {
    display: inline-block;
  }

  #header {
    overflow: hidden;
  }

  #header .search-btn {
    display: none;
  }

  #header .mobile-menu-btn {
    display: block;
  }

  #content .member-img {
    width: 60%;
  }

  .contact-form {
    margin-top: 16px;
  }
}
